/* Coolors Exported Palette - coolors.co/fc440f-1effbc-7c9299-1f01b9-b4e33d */

/* HSL */
$color1: hsla(13%, 98%, 52%, 1);
$color2: hsla(162%, 100%, 56%, 1);
$color3: hsla(194%, 12%, 54%, 1);
$color4: hsla(250%, 99%, 36%, 1);
$color5: hsla(77%, 75%, 56%, 1);

/* RGB */
$color1: rgba(252, 68, 15, 1);
$color2: rgba(30, 255, 188, 1);
$color3: rgba(124, 146, 153, 1);
$color4: rgba(31, 1, 185, 1);
$color5: rgba(180, 227, 61, 1);